#root {
  margin: 0 auto;
  padding: 0;

  background-color: #efefef;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .card {
  width: 80%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 2em;
  text-align: left;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #00000022;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
} */
.app {
  margin: 0 auto;

  /* border: 1px solid #000; */
  /* display: flex; */
  max-width: 1050px;
  /* flex-direction: column; */
  /* align-items: center; */
  /* background-color: #fff; */
  min-height: 100vh;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
